$motif-dark-grey: #111111;
$motif-medium-grey: #292929;
$motif-light-grey: #363636;
$motif-grey: #424242;
$motif-green: #89C441;
$motif-yellow: #FFDC3C;

.content{
	background-color: $motif-medium-grey;
}